@charset "UTF-8";
* {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.catalog {
  padding-bottom: 96px;
}

.catalog_header_color {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.catalog_header {
  display: flex;
  justify-content: space-between;
}

.catalog_header_title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.catalog_header_list {
  list-style: none;
}

.catalog_header_menu {
  display: inline;
}

.catalog_header_menu_active {
  font-weight: 700;
  color: #f16d7f;
}

.catalog_header_menu_link:hover {
  color: #f16d7f;
  transition: all 0.2s linear;
  text-decoration: underline;
}

.catalog_header_menu_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

ul.catalog_header_list li + li:before {
  padding: 3px;
  color: #636363;
  content: "/";
}

.filter {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.filter_inner {
  display: flex;
}

.clothing_filter {
  margin-right: 325px;
}

.filter_details-wrap {
  position: absolute;
  z-index: 10;
  padding: 25px 15px 15px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #f16d7f;
}

.main_filter {
  width: 355px;
}

.filter_item_title {
  color: #6f6e6e;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.filter_item_title:hover {
  color: #f16d7f;
}

.filter_list_inner[open] > .filter_item_title {
  color: #f16d7f;
}

.filter_list {
  padding: 24px 12px;
}

.filter_item-link {
  text-decoration: none;
  color: #6f6e6e;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.2s;
}

.filter_item-link:hover {
  color: #f16d7f;
  text-decoration: underline;
}

.filter_item {
  margin-bottom: 11px;
}

.filter_details_heading {
  margin-right: 35px;
}

.filter_details_wrap {
  position: relative;
  z-index: 12;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter_details_wrap:hover {
  color: #f16d7f;
  transition: all 0.2s linear;
}

.filter_title {
  font-weight: 700;
  margin-right: 10px;
}

.filter_other_title {
  font-weight: normal;
  margin-right: 10px;
  color: #6f6e6e;
}

.filter_other_title:hover {
  color: #f16d7f;
  transition: all 0.2s linear;
}

.filter_details_wrap:hover .filter_icon {
  fill: #f16d7f;
  transition: all 0.2s linear;
}

.filter_details_wrap svg {
  fill: #000;
}

.size_filter {
  padding: 7px 30px 0px 9px;
}

.filter_details-wrap {
  position: absolute;
  z-index: 10;
  padding: 25px 15px 15px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #f16d7f;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-details_item {
  margin-bottom: 18px;
}

.size_input {
  margin-right: 9px;
}

label:hover {
  color: #f16d7f;
}

.btn_menu_filter_button {
  border: none;
  margin: 3px 3px 3px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
}

.btn_menu_filter_button:hover input {
  color: white;
  background-color: #f16d7f;
  border-radius: 5px;
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.2s linear;
}

.catalog_carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.catalog_cart {
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  position: relative;
}

.catalog_cart_image_wrap {
  background: #3a3838;
  position: relative;
}

.catalog_img {
  transition: opacity 0.2s linear;
  display: block;
}

.catalog_cart_content {
  padding: 25px 17px 20px;
  text-align: left;
}

.catalog_cart_title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-bottom: 13px;
}

.catalog_cart_link {
  text-decoration: none;
  color: #000;
}

.catalog_cart_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.catalog_cart_price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.add:hover {
  box-shadow: 0 0 10px #f16d7f;
  transition: all 0.2s linear;
}

.add-text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 8px;
}

.catalog_cart:hover .add-box {
  display: flex;
  transition: all 0.2s linear;
}

.catalog_cart:hover {
  box-shadow: 0 5px 8px #f16d7f;
  transition: all 0.2s linear;
}

.catalog_cart:hover .catalog_img {
  filter: brightness(30%);
  transition: all 0.4s linear;
}

.pagination_container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.pagination a:hover {
  color: white;
  background: #f16d7f;
  border-radius: 10px;
  transition: background 0.2s linear;
}

.pagination a.active:hover {
  color: white;
  background: #f16d7f;
  border-radius: 10px;
  transition: background 0.2s linear;
}

.pagination a {
  color: #c4c4c4;
  float: left;
  padding: 12px 16px;
  text-decoration: none;
}

.pagination_arrows {
  fill: #000;
}

.pagination a.active {
  color: #f16d7f;
  border-radius: 5px;
}

.catalog_header_color {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.catalog_header {
  display: flex;
  justify-content: space-between;
}

.catalog_header_title {
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
}

.catalog_header_color:hover .catalog_header_title {
  transform: translateX(620px);
  transition: all 1.2s linear;
  color: black;
}

.registr {
  padding-top: 65px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.registr_form {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registr_form_title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registr_info_input {
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  text-align: left;
  padding: 13px 17px;
}

.registr_form_radio {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 33px;
}

.registr_form_radio input {
  margin-right: 10px;
}

.registr_form_radio label {
  margin-right: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  font-weight: 300;
}

.registr_form p {
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  font-weight: 300;
  margin-bottom: 40px;
}

.registr_content {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.registr_content h3 {
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.registr_content p {
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 300;
  margin-bottom: 21px;
}

.registr_content ul {
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 300;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.registr_content ul li {
  display: flex;
  margin-bottom: 15px;
}

.registr_content ul li:before {
  content: url(/photo/registration/arrow_regist.svg);
  display: block;
  margin-right: 23px;
}

.registr_content ul li:hover {
  transition: all 0.2s linear;
  transform: scale(1.05);
  cursor: pointer;
}

.registr_form_button {
  padding: 17px 29px;
  border: 1px solid white;
  background-color: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.registr_form_button svg {
  fill: white;
  margin-left: 20px;
}

.registr_form_button:hover svg {
  fill: #000;
  transition: all 0.2s linear;
}

.registr_form_button:hover {
  color: #000;
  background-color: white;
  border: 1px solid #000;
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.catalog {
  padding-bottom: 96px;
}

.shopping_header_color {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.shopping_header {
  display: flex;
  justify-content: space-between;
}

.shopping_header_title {
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  cursor: pointer;
}

.shopping_header_color:hover .shopping_header_title {
  transform: translateX(620px);
  transition: all 1.2s linear;
  color: black;
}

.shopping_content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
}

.shopping_content_item {
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  position: relative;
}

.shopping_content_item:hover {
  transform: scale(1.05);
  box-shadow: 17px 19px 24px #f16d7f;
  transition: all 0.2s linear;
}

.shopping_content_item-img {
  height: 100%;
}

.shopping_content_item_description {
  padding: 22px 150px 62px 31px;
}

.shopping_content_item_name {
  font-size: 24px;
  line-height: 29px;
  color: #222;
  font-weight: 400;
  margin-bottom: 42px;
}

.shopping_content_item_description svg {
  fill: #575757;
  position: absolute;
  top: 25px;
  right: 25px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.shopping_content_item_description svg:hover {
  fill: #f16d7f;
  transition: all 0.2s linear;
  transform: scale(1.2);
}

.shopping_content_item_info {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  font-weight: 400;
}

.shopping_content_item_info_price {
  color: #f16d7f;
}

.shopping_content_item_info p {
  margin-bottom: 6px;
}

.shopping_content_item_info p:hover {
  transform: scale(1.05);
  transition: scale 0.2s linear;
  cursor: pointer;
}

.shopping_content_item_info_input {
  font-size: 20px;
  color: #f16d7f;
  outline: none;
}

.shopping_content_item_buttons {
  display: flex;
  justify-content: space-between;
}

.shopping_content_item_button:hover {
  color: white;
  background: #f16d7f;
  outline: none;
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.shopping_content_item_button {
  padding: 16px 40px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-weight: 300;
  outline: 1px solid #a4a4a4;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s linear;
}

.shopping_content_info {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  padding-top: 20px;
}

.shopping_content_info_title {
  font-size: 18px;
  line-height: 21px;
  color: #222;
  font-weight: 300;
  margin-bottom: 20px;
}

.shopping_content_info_input {
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  padding: 13px 17px;
}

.shopping_content_info_button {
  align-self: flex-start;
  padding: 12px 15px;
  color: #4a4a4a;
  background-color: transparent;
  cursor: pointer;
  outline: 1px solid #4a4a4a;
  border: none;
  margin-bottom: 60px;
  transition: all 0.2s linear;
}

.shopping_content_info_button:hover {
  color: white;
  background: #f16d7f;
  outline: none;
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.shopping_content_info_total {
  background: #f5f3f3;
  padding: 41px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shopping_content_info_total h3 {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 12px;
}

.shopping_content_info_total h3 span {
  margin-left: 20px;
}

.shopping_content_info_total h4 {
  font-size: 16px;
  line-height: 19px;
  color: #4a4a4a;
  font-weight: 300;
}

.shopping_content_info_total h4 span {
  font-weight: bold;
  color: #f16d7f;
  margin-left: 20px;
}

.shopping_content_info_total div {
  background-color: #cacaca;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 17px;
  height: 1px;
}

.shopping_content_info_total button {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 300;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: transparent;
  outline: 1px solid #4a4a4a;
  color: #4a4a4a;
}

.shopping_content_info_total button:hover {
  color: white;
  background: #f16d7f;
  outline: none;
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.product {
  margin-bottom: 150px;
}

.product_header_color {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.product_header {
  display: flex;
  justify-content: space-between;
}

.product_header_title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.product_header_menu {
  display: inline;
}

.product_header_menu_link:hover {
  color: #f16d7f;
  transition: all 0.2s linear;
  text-decoration: underline;
}

.product_header_menu_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

ul.product_header_list li + li:before {
  padding: 3px;
  color: #636363;
  content: "/";
}

.product_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product_content_arrow {
  padding: 10px 14px 10px 17px;
  background: rgba(42, 42, 42, 0.15);
}

.arrow_icon {
  fill: #000;
}

.arrow_icon:hover {
  fill: #f16d7f;
  transition: all 0.2s linear;
  transform: scale(1.2);
}

.product_box {
  border: 1px solid #eaeaea;
  margin-bottom: 130px;
  margin-top: 10px;
}

.product_info {
  text-align: center;
}

.product_info_text_full {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_info h3 {
  font-size: 14px;
  color: #f16d7f;
  margin-bottom: 12px;
  margin-top: 60px;
  font-weight: 300;
}

.product_info_img {
  margin-bottom: 12px;
}

.product_info h2 {
  font-weight: 300;
  font-size: 18px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.product_info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 2px;
}

.product_info p:last-child {
  margin-bottom: 32px;
}

.product_info_text_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.border_grey {
  border: 1px solid #eaeaea;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 250px;
  margin-right: 250px;
}

.product_filter_position {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product_filter_item_box {
  position: relative;
  z-index: 12;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.product_filter_item_text {
  font-weight: normal;
  margin-right: 10px;
  color: #6f6e6e;
}

.product_filter_item_text:hover {
  color: #f16d7f;
  transition: all 0.2s linear;
}

.product_filter_icon {
  fill: #6f6e6e;
}

.product_filter_item_box:hover .product_filter_icon {
  fill: #f16d7f;
  transition: all 0.2s linear;
}

.product_filter-wrap {
  position: absolute;
  z-index: 10;
  padding: 25px 15px 15px 25px;
  background-color: #fff;
  box-shadow: 0 0 10px #f16d7f;
}

.product_filter-wrap ul,
li {
  list-style-type: none;
}

.choose_filter {
  padding: 10px 10px 10px 10px;
}

.product_filter_link {
  margin-bottom: 18px;
  color: #6f6e6e;
}

.filter_input {
  margin-right: 9px;
}

.product_filter_item {
  margin-right: 20px;
}

.product_filter_item:last-child {
  margin-right: 0;
}

label:hover {
  color: #f16d7f;
}

.product_menu_filter_button {
  border: none;
  margin: 3px 3px 3px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
}

.product_menu_filter_button:hover input {
  color: white;
  background-color: #f16d7f;
  border-radius: 5px;
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.2s linear;
}

.filter_input_btn {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 65px;
}

.product_button_link {
  font-size: 16px;
  text-decoration: none;
  padding: 15px 39px;
  color: #f26376;
  border: 1px solid #f26376;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
}

.product_button_link:hover {
  background: #f16d7f;
  transition: all 0.2s linear;
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.product_button_image {
  margin-right: 20px;
  fill: #f26376;
}

.product_button:hover .product_button_image {
  fill: white;
  transition: all 0.2s linear;
}

.product_button_text {
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.product_button:hover .product_button_text {
  color: white;
  transition: all 0.2s linear;
}

.product_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 148px;
}

.product_item {
  width: 360px;
  background-color: #f8f8f8;
  position: relative;
}

.product_item_image_wrap {
  background: #3a3838;
  position: relative;
}

.product_img {
  transition: opacity 0.2s linear;
  display: block;
}

.product_item_content {
  padding: 25px 17px 20px;
  text-align: left;
}

.product_item_title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-bottom: 13px;
}

.product_item_link {
  text-decoration: none;
  color: #000;
}

.product_item_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.product_item_price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product_item:hover .add-box {
  display: flex;
}

.product_item:hover {
  box-shadow: 0 5px 8px #f26376;
  transition: all 0.2s linear;
}

.product_item:hover .product_img {
  filter: brightness(30%);
  transition: all 0.4s linear;
}

.add {
  border: 1px solid #ffffff;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover {
  box-shadow: 0 0 10px #f16d7f;
  transition: all 0.2s linear;
}

.add-text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 8px;
}

/* slide-box вставлен из Bootstrap */
.carousel-inner {
  padding-left: 295px;
  padding-top: 10px;
}

.carousel-control-prev-icon {
  background-color: #ccc;
}

.carousel-control-next-icon {
  background-color: #ccc;
}

.carousel-control-prev {
  height: 650px;
  margin-top: 200px;
}

.carousel-control-next {
  height: 650px;
  margin-top: 200px;
}

.carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='pink'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: scale(1.5);
  background-color: #ffffff;
}

.carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='pink'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  transform: scale(1.5);
  background-color: #ffffff;
}

/* slide-box вставлен из Bootstrap */
.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #222222;
  position: relative;
  padding: 18px 0;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 41px;
  text-decoration: none;
}

.header_icon {
  fill: #fff;
  transition: all 0.2s linear;
}

.header_icon:hover {
  fill: #f16d7f;
  transition: all 0.2s linear;
}

.header__right {
  align-items: center;
  display: flex;
}

.menu {
  margin-right: 25px;
}

.menu__list {
  background-color: white;
  padding: 16px 17px 37px 35px;
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0px 10px 10px #f16d7f;
  transition: transform 0.2s linear;
  z-index: 10000;
  transform: scaleX(0);
  display: flex;
  flex-direction: column;
}

.menu__list h4 {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.menu__list ul {
  font-size: 14px;
  line-height: 1.2;
  color: #f16d7f;
  font-weight: 400;
}

.menu__list ul .menu-link {
  font-size: 14px;
  line-height: 1.2;
  color: #f16d7f;
  font-weight: 400;
}

.menu__list ul .menu-link:hover {
  text-decoration: none;
  transition: all 0.2s linear;
}

.menu__list ul:not(:last-child) {
  margin-bottom: 20px;
}

.menu__list ul li {
  margin-top: 12px;
  margin-left: 22px;
  text-transform: capitalize;
  cursor: pointer;
  padding-right: 60px;
  list-style-type: none;
}

.menu__list ul a {
  font-size: 14px;
  line-height: 1.2;
  color: #6f6e6e;
  font-weight: 400;
  transition: all 0.2s linear;
  text-decoration: none;
}

.menu__list ul a:hover {
  font-size: 14px;
  line-height: 1.2;
  color: #f16d7f;
  font-weight: 400;
  text-decoration: underline;
}

.menu__opened {
  transform: scaleX(1);
}

.btn-menu {
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

.btn-menu__close {
  background: none;
  cursor: pointer;
  border: none;
  margin-bottom: 5px;
  transition: all 0.2s linear;
  fill: #6f6e6e;
  margin-left: auto;
}

.btn-menu__close:hover {
  transform: scale(1.2);
  fill: #f16d7f;
}

.header_item:not(:last-child) {
  margin-right: 21px;
}

.intro {
  background-color: #f1e4e6;
  height: 764px;
  margin-bottom: 65px;
}

.intro_wrap {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  background-image: url(../photo/category/intro.svg);
  background-repeat: no-repeat;
  background-position-x: -208px;
  background-position-y: 30px;
  z-index: 5;
}

.intro_text {
  width: 100%;
  max-width: 405px;
  padding-left: 20px;
  border-left: 12px solid #f16d7f;
  margin-right: 100px;
}

.intro_title {
  font-weight: 700;
  font-size: 32px;
}

.decor_brand {
  font-weight: 900;
  font-size: 48px;
}

.decor_fashion {
  color: #f16d7f;
}

.category {
  margin-bottom: 96px;
}

.category_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category__item {
  position: relative;
  background-color: #f16d7f;
  cursor: pointer;
}

.category__item:not(:last-child) {
  width: 32%;
  margin-bottom: 30px;
}

.category__item:last-child {
  width: 100%;
}

.category__item_picture {
  display: block;
  transition: opacity 0.2s linear;
  width: 100%;
}

.category__item_picture_wrap {
  background: #060608;
  background: linear-gradient(0deg, #060608 38%, rgba(241, 109, 127, 0.93041) 100%);
  transition: transform 0.2s linear;
}

.category__item:hover .category__item_picture_wrap {
  transform: translate3d(-10px, -10px, 0);
}

.category__item:hover .category__item_picture {
  opacity: 0.3;
}

.category__item:hover .category_text {
  opacity: 1;
}

.category_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  transform: translate3d(0, -50%, 0) translate3d(-10px, -10px, 0);
  opacity: 0;
  transition: opacity 0.2s linear;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: 400;
}

.category_text svg {
  margin-top: 5px;
}

.category_link {
  text-decoration: none;
}

.category_text_header {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  font-weight: 700;
  text-transform: uppercase;
}

.featured {
  margin-bottom: 95px;
}

.featured_wrap {
  text-align: center;
}

.featured_title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.featured_text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
}

.featured_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.featured_item {
  width: 32%;
  margin-bottom: 30px;
  position: relative;
}

.featured_image {
  width: 100%;
}

.featured_item:hover {
  box-shadow: 0 5px 8px #f16d7f;
  transition: all 0.2s linear;
}

.featured_item:hover .featured_image {
  filter: brightness(30%);
  transition: all 0.4s linear;
}

.featured_item_content {
  padding: 25px 17px 20px;
  text-align: left;
}

.featured_item_title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-bottom: 13px;
}

.featured_item_link {
  text-decoration: none;
  color: #000;
}

.featured_item_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.featured_item_price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.add-box {
  position: absolute;
  top: 185px;
  display: none;
  justify-content: center;
  width: 100%;
}

.featured_item:hover .add-box {
  display: flex;
}

.add {
  border: 1px solid #ffffff;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover {
  box-shadow: 0 0 10px #f16d7f;
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.add-text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 8px;
}

.button {
  border: 1px solid #f16d7f;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 15px 40px;
  text-decoration: none;
  transition: all 0.2s linear;
}

.button_main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 58px;
  transition: all 0.2s linear;
}

.button:hover {
  background: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
  transition: all 0.2s linear;
}

.button_main:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.footer__top {
  background: #222222;
}

.footer__top_quality {
  display: flex;
  justify-content: space-between;
}

.footer__top_info {
  max-width: 360px;
  width: 100%;
  margin-top: 103px;
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__top_info a {
  text-decoration: none;
}

.footer__top_info_logo {
  margin-bottom: 28px;
}

.footer__top_info_logo:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 0.2s linear;
}

.footer__top_info_title {
  margin-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.footer__top_info_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a7a4a4;
}

.subscribe {
  background-image: url(../photo/subscribe/BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 126px;
}

.subscribe_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_block_content {
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe_img {
  margin-bottom: 30px;
}

.subscribe_block_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe_block_form {
  max-width: 540px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe_block_form_title {
  font-size: 18px;
  font-weight: normal;
  line-height: 165%;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe_span {
  font-size: 20px;
  font-weight: bold;
}

.subscribe_form {
  display: flex;
  justify-content: center;
  max-width: 356px;
  width: 100%;
}

.subscribe_input {
  width: 256px;
  background: #e1e1e1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 16px 22px;
  outline: none;
}

.subscribe_form_button {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 6px;
  border: none;
  background: #f16d7f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.subscribe_form_button:hover {
  color: black;
  background: #e1e1e1;
}

.footer_bot {
  background: #222222;
}

.footer_wrap {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_copy {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer_social_media {
  display: flex;
}

.social_media_item {
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.social_media_item:not(:last-child) {
  margin-right: 7px;
}

.social_media_item:hover .footer_icon {
  fill: #fff;
  transition: all 0.2s linear;
}

.social_media_item:hover {
  background: #f16d7f;
  transition: all 0.2s linear;
  transform: scale(1.1);
}

.footer_icon {
  fill: #000;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .header__left {
    padding-left: 2%;
  }

  .header__right {
    padding-right: 2%;
  }
  .header__right .menu__list {
    padding: 16px 17px 45px 20px;
    right: 12px;
  }
  .header__right .menu__list h4 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .header__right .menu__list ul:not(:last-child) {
    margin-bottom: 15px;
  }
  .header__right .menu__list ul li {
    margin-top: 10px;
    margin-left: 16px;
    padding-right: 30px;
  }

  .intro {
    height: 368px;
    margin-bottom: 20px;
  }
  .intro .intro_wrap {
    background-position-x: -22px;
    background-position-y: 4px;
    background-size: 390px;
  }
  .intro .intro_text {
    margin-right: 10px;
    max-width: 48%;
    padding-left: 16px;
  }
  .intro .intro_text .intro_title {
    font-size: 24px;
  }
  .intro .intro_text .intro_title .decor_brand {
    font-size: 44px;
  }

  .category {
    margin-bottom: 155px;
  }
  .category .category__item:not(:last-child) {
    width: 32%;
    margin-bottom: 20px;
  }
  .category .category__item:last-child {
    width: 100%;
    margin-bottom: 0;
  }

  .featured {
    margin-bottom: 65px;
  }
  .featured .featured_title {
    margin-bottom: 3px;
  }
  .featured .featured_text {
    margin-bottom: 74px;
  }
  .featured .featured_items {
    margin-bottom: 0;
  }
  .featured .featured_items .featured_item {
    width: 48%;
    margin-bottom: 15px;
  }
  .featured .featured_items .featured_item .featured_image {
    width: 100%;
  }
  .featured .button_main {
    margin-top: 20px;
  }

  .footer__top_quality {
    flex-direction: column;
    align-items: center;
  }
  .footer__top_quality .footer__top_info {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .footer__top_quality .footer__top_info:not(:last-child) {
    margin-bottom: 0;
  }

  .subscribe {
    padding-top: 54px;
    padding-bottom: 140px;
    background-position-x: -330px;
    background-position-y: 60px;
  }
  .subscribe .subscribe_block {
    flex-direction: column;
  }
  .subscribe .subscribe_block .subscribe_block_content {
    padding-bottom: 48px;
  }
  .subscribe .subscribe_block .subscribe_block_content .subscribe_img {
    margin-bottom: 20px;
  }
  .subscribe .subscribe_block_form_title {
    margin-bottom: 27px;
  }

  .footer_wrap {
    padding: 24px 16px;
  }
}
@media screen and (max-width: 485px) {
  .category {
    margin-bottom: 64px;
  }
  .category .category__item:not(:last-child) {
    width: 100%;
    margin-bottom: 32px;
  }
  .category .category__item:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  .category .category__item:last-child .category__item_picture_wrap {
    height: 111px;
  }
  .category .category__item:last-child .category__item_picture_wrap .category__item_picture {
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }

  .featured {
    margin-bottom: 96px;
  }
  .featured .featured_items {
    margin-bottom: 0;
  }
  .featured .featured_items .featured_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .featured .featured_items .featured_item .featured_image {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .header__left {
    padding-left: 0;
    padding-right: 0;
  }

  .header_item {
    display: none;
  }

  .menu {
    margin-right: 0;
  }

  .intro {
    height: 363px;
    margin-bottom: 64px;
  }
  .intro .intro_wrap {
    background-image: none;
  }
  .intro .intro_text {
    margin-right: 14px;
    max-width: 90%;
    padding-left: 15px;
  }
  .intro .intro_text .intro_title {
    font-size: 24px;
  }
  .intro .intro_text .intro_title .decor_brand {
    font-size: 38px;
  }

  .category {
    margin-bottom: 64px;
  }
  .category .category__item:not(:last-child) {
    width: 100%;
    margin-bottom: 32px;
  }
  .category .category__item:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  .category .category__item:last-child .category__item_picture_wrap {
    height: 111px;
  }
  .category .category__item:last-child .category__item_picture_wrap .category__item_picture {
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }

  .featured {
    margin-bottom: 96px;
  }
  .featured .featured_title {
    margin-bottom: 3px;
  }
  .featured .featured_text {
    margin-bottom: 64px;
  }
  .featured .featured_items {
    margin-bottom: 0;
  }
  .featured .featured_items .featured_item {
    width: 100%;
    margin-bottom: 15px;
  }
  .featured .featured_items .featured_item .featured_image {
    width: 100%;
  }
  .featured .button_main {
    margin-top: 30px;
  }

  .footer__top_info {
    max-width: 315px;
  }

  .subscribe {
    padding-top: 54px;
    padding-bottom: 110px;
    background-position-x: -410px;
    background-position-y: 0;
  }
  .subscribe .subscribe_block {
    flex-direction: column;
  }
  .subscribe .subscribe_block .subscribe_block_content {
    padding-bottom: 59px;
  }
  .subscribe .subscribe_block_form_title {
    margin-bottom: 22px;
  }

  .footer_wrap {
    flex-direction: column-reverse;
    padding: 43px 0 10px 0;
  }
  .footer_wrap .footer_social_media {
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */