* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-family: "Lato", sans-serif;
}
.container {
	width: 1600px;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
}
.shopping_header_color {
	background-color: #ebebeb;
	padding-top: 60px;
	padding-bottom: 60px;
}
.shopping_header {
	padding-left: 230px;
}
.shopping_header_title {
	color: #f16d7f;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
}
.shopping_content {
	display: flex;
	justify-content: space-between;
	padding-left: 230px;
	padding-right: 230px;
	margin-top: 96px;
	margin-bottom: 30px;
}
.shopping_content_item {
	display: flex;
	box-shadow: 17px 19px 24px rgb(0 0 0 / 13%);
	margin-bottom: 40px;
	position: relative;
}
.shopping_content_item_description {
	padding-left: 32px;
	padding-bottom: 60px;
	padding-right: 97px;
	padding-top: 22px;
}
.shopping_content_item_name {
	font-size: 24px;
	line-height: 29px;
	color: #222;
	font-weight: 400;
	margin-bottom: 42px;
}
.shopping_content_item_description svg {
	fill: #575757;
	position: absolute;
	top: 25px;
	right: 25px;
	transition: all 0.1s linear;
	cursor: pointer;
}
.shopping_content_item_description svg:hover {
	fill: #ef5b70;
	transition: all 0.2s linear;
}
.shopping_content_item_info {
	font-size: 22px;
	line-height: 26px;
	color: #575757;
	font-weight: 400;
}
.shopping_content_item_info_price {
	color: #ef5b70;
}
.shopping_content_item_info p {
	margin-bottom: 6px;
}
.shopping_content_item_buttons {
	display: flex;
	justify-content: space-between;
}
.shopping_content_item_button:hover {
	color: white;
	background: #ef5b70;
	outline: none;
	transition: all 0.2s linear;
}
.shopping_content_item_button {
	padding: 16px 40px;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	font-weight: 300;
	outline: 1px solid #a4a4a4;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.shopping_content_info {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	width: 100%;
	padding-top: 20px;
}
.shopping_content_info_title {
	font-size: 18px;
	line-height: 21px;
	color: #222;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.shopping_content_info_input {
	height: 45px;
	width: 100%;
	margin-bottom: 20px;
	text-align: left;
	padding: 13px 17px;
}
.shopping_content_info_button {
	align-self: flex-start;
	padding: 12px 15px;
	color: #4a4a4a;
	background-color: transparent;
	cursor: pointer;
	outline: 1px solid #4a4a4a;
	border: none;
	margin-bottom: 60px;
}
.shopping_content_info_button:hover {
	color: white;
	background: #ef5b70;
	outline: none;
	transition: all 0.2s linear;
}
.shopping_content_info_total {
	background: #f5f3f3;
	padding: 41px 44px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.shopping_content_info_total h3 {
	font-size: 11px;
	line-height: 13px;
	color: #4a4a4a;
	font-weight: 400;
	margin-bottom: 12px;
}
.shopping_content_info_total h3 span {
	margin-left: 20px;
}
.shopping_content_info_total h4 {
	font-size: 16px;
	line-height: 19px;
	color: #4a4a4a;
	font-weight: 300;
}
.shopping_content_info_total h4 span {
	font-weight: bold;
	color: #f16d7f;
	margin-left: 20px;
}
.shopping_content_info_total div {
	background-color: #cacaca;
	width: 100%;
	margin-top: 21px;
	margin-bottom: 17px;
	height: 1px;
}
.shopping_content_info_total button {
	width: 100%;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	font-weight: 300;
	border: none;
	cursor: pointer;
	transition: all 0.2s linear;
	background-color: transparent;
	outline: 1px solid #4a4a4a;
	color: #4a4a4a;
}
.shopping_content_info_total button:hover {
	color: white;
	background: #ef5b70;
	outline: none;
	transition: all 0.2s linear;
}
